body {
  margin: 0;

  min-height: 100vh;
  background-color: black;
  color: white;
}

body > * {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  max-width: 500px;
}

.scene {
  background-color: lightblue;
}
.debug-scene {
  display: none;
  background-color: lightgrey;
  border: 1px solid red;
}

.prompt {
  background-color: white;
  color: black;

  display: none;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  white-space: pre-wrap;
}

.prompt--active,
.prompt--active-debug {
  display: block;
}
.prompt * {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* debug */
.app--debug {
  .debug-scene {
    display: block;
  }

  .prompt--active {
    bottom: 50%;
  }
}
