body {
  margin: 0;

  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

body > * {
  box-sizing: border-box;
}

#app {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.container {
  position: relative;
}

.scene {
  max-width: 500px;
  max-height: 500px;
}

/*  */
dialog {
  background-color: white;
  color: black;
  text-align: left;
  border: none !important;
  outline: none !important;

  display: none;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  white-space: pre-wrap;
}
dialog[open] {
  display: block;
}
dialog * {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.view {
  height: calc(100% - 2rem);
}

.menu[open] {
  display: flex;
  flex-flow: row wrap;
}
.menu * {
  width: 50%;
  cursor: pointer;
  margin: calc(1rem / 2) 0;
}

/*  */
.controls {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  touch-action: manipulation;
}
.controls button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px 5px;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
}

.controls__direction {
  display: flex;
  flex-flow: column;
  margin-right: auto;
}
/* .direction-button {
} */
.direction-button[data-direction="down"],
.direction-button[data-direction="up"] {
  margin-left: auto;
  margin-right: auto;
}
.direction-button[data-direction="left"] {
  margin-right: 1rem;
}

.controls__select {
  display: flex;
  flex-flow: column wrap;
}
.select-button[data-select="a"] {
  margin-top: 1rem;
  margin-left: auto;
}
.select-button[data-select="b"] {
  margin-right: 2rem;
}
